:root {
  --main-bg-color: #447cfc;
  --primary-font: "VT323", monospace;
  --h1-font-size: 64px;
  --h2-font-size: 40px;
  --h3-font-size: 20px;
  --body-font-size: 16px;

  --button-green: #0fb722;
  --bright-green: #12b92d;
  --violet: #5952c3;

  --nav-btn-size: 48px;
  --nav-margin: 16px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h3 {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  font-weight: 400;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.site-container {
  height: 100vh;
  overflow-y: scroll;
}

/* start header/navbar styling */

#top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white !important;
  font-family: "IBM Plex Mono Medium", sans-serif;
  padding: 32px 32px 0px 32px;
}

#project-name {
  color: white;
}

#header,
#title-section {
  padding: 0;
}

#title-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
}

#title {
  letter-spacing: 5px;
}

#title img {
  height: 72px;
}

#title-link {
  height: 100%;
  width: 80%;
  color: white !important;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  font-size: var(--h3-font-size);
  line-height: 2vw;
}

.title {
  /* Header 2 */
  font-weight: 400;
  font-size: var(--h1-font-size);
  line-height: 40px;
  margin-bottom: 32px;
  /* identical to box height */

  text-align: right;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
  text-align: center;
}

.header-menu {
  line-height: 1.3vw;
  letter-spacing: 3px;
  text-align: center;
}

.header-menu a {
  color: white;
  font-size: var(--h3-font-size);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 48px;
  height: var(--nav-btn-size);
  transition: all 0.3s ease-in-out;
}

.header-menu a:hover {
  color: #232323;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.95);
}

#socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0.5%;
}

#socials a {
  width: 20%;
}

#socials a:hover {
  opacity: 0.8;
}

#logo-img {
  width: 20%;
}

#logo-img img {
  border: 0.5vw black solid;
  border-radius: 50%;
}

#logo-img:hover {
  opacity: 0.8;
}

/* end header/navbar styling */

/* mint section */

.mint-img {
  width: 20%;
  border: 0.5vw black solid;
  border-radius: 20px;
}

/* start about section styling */

#roadmap {
  -webkit-animation: bounce 1.3s infinite;
  animation: bounce 1.3s infinite;
  color: black !important;
}

.down-arrow {
  width: 3vw;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.left-number,
.right-number {
  position: absolute;
  text-align: center;
  top: 20px;
  font-size: 3vw;
  line-height: 3vw;
}

.left-number {
  left: 20px;
}

.right-number {
  right: 20px;
}

#about {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about-text-desktop-1 {
  width: 75%;
}

#about-text-desktop-2 {
  width: 75%;
}

#about-gif {
  width: 15%;
}

#wc-gif {
  border: 0.5vw black solid;
  border-radius: 20px;
}

#about h2 {
  font-size: 2.5vw;
  line-height: 2.5vw;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* end about section styling */

#bottom-socials {
  width: 20%;
  margin: auto;
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#bottom-socials a {
  width: 4vw;
  height: 4vw;
}

#copyright-div {
  background-color: var(--main-bg-color);
  text-align: center;
  font-size: 1.4vw !important;
  line-height: 1.7vw !important;
  padding: 20px;
}

#copyright-div a {
  color: white;
}

#copyright-div a:hover {
  color: #f5cd03;
}

#copyright-div img {
  margin-right: 20px;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: var(--h2-font-size);
  }

  .left-number,
  .right-number {
    display: none;
  }

  .down-arrow {
    width: 3vh;
  }

  /* start header-navbar styling */

  #top {
    display: initial;
  }

  .w-container {
    width: 90%;
  }

  #title-section {
    display: none;
  }

  #socials {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    width: 100%;
  }

  #socials a {
    width: 10%;
  }

  #logo-img {
    width: 20%;
  }

  #logo-img img {
    border-width: 5px;
  }

  #mobile-nav-menu #header {
    width: calc(100% - 64px);
  }

  #mobile-nav-menu .header-menu {
    width: 100%;
    margin-bottom: 8px;
  }

  #header {
    border-left: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .header-menu a {
    margin-left: 0px;
  }
  /* Mobile Navbar animations */

  #expand-container {
    overflow: hidden;
  }

  #mobile-nav-menu {
    margin-top: -100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
  }

  #mobile-nav-menu.expanded {
    margin-top: 0;
  }

  @-webkit-keyframes slide-in {
    100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slide-out {
    100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

  @keyframes slide-in {
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slide-out {
    100% {
      transform: translateY(-100%);
    }
  }

  .expanded {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 1;
    animation: slide-in 1s linear;
    -webkit-animation-name: slide-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
  }

  .collapsed {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: slide-out 1s linear;
    -webkit-animation-name: slide-out;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
  }

  /* end mobile navbar animations*/

  #mobile-wallet-connect-div {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 32px;
  }

  .mobile-logo img {
    height: 48px;
  }

  .mobile-logo {
    letter-spacing: 5px;
    flex-grow: 1;
    display: flex;
  }

  #mobile-wallet-connect-div button {
    margin-right: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mobile-wallet-connect-div button:last-of-type {
    margin-right: 0px;
  }

  #mobile-account {
    width: fit-content;
    padding: 8px;
    height: 48px;
    background: var(--button-green);
  }

  #discord-mobile {
    width: 48px;
    height: 48px;
    background-color: var(--violet);
    font-size: 20px;
  }

  #navbar {
    touch-action: manipulation;
    width: 48px;
    height: 48px;
    background: rgba(18, 21, 39, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    color: white;
    font-size: 20px;
  }

  /* end header/navbar styling */

  /* start about section styling */

  #about {
    display: block;
    padding: 15px;
  }

  #about p {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 18px !important;
    line-height: 18px !important;
  }

  #about-text-mobile {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #about-gif {
    width: 100%;
  }

  #wc-gif {
    border-width: 5px;
  }

  /* end about section styling */

  p {
    padding: 20px;
    margin: 0;
    font-size: 20px;
  }

  .section-title {
    font-size: 3vh;
    text-align: center;
  }

  .body-heading {
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }

  #about-info {
    font-size: 2.8vh !important;
    line-height: 3.3vh !important;
  }

  #bottom-socials {
    width: 95%;
    padding: 2vh;
  }

  #bottom-socials a {
    width: 7vh;
    height: 7vh;
  }

  #copyright-div {
    padding: 10px;
    font-size: 2.8vh !important;
    line-height: 3.1vh !important;
  }
}
