@font-face {
  font-family: "IBM Plex Mono Regular";
  src: URL("./IBMPlexMono-Regular.ttf") format("truetype");
}

.token-balance-float {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 16px;
  color: black;
  background: #ffffff;
  border: 1px solid #14f42e;
  box-sizing: border-box;
  /* icon glow */

  box-shadow: 0px 0px 4px #14f42e;
  border-radius: 4px;
}

#market-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Approval section */
#approval-container {
  width: 100%;
  left: 0px;
  top: 0px;
  background: #da6267;
}

#approval {
  font-size: var(--h3-font-size);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  background: #da6267;
}

.approval-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 8px;
  flex-grow: 1;
  align-items: center;
}

#approval i {
  font-size: 4vh;
}
#approval h2 {
  display: inline;
  font-size: var(--h3-font-size);
  text-align: left;
  margin-left: 16px;
  font-weight: 400;
  flex-grow: 1;
  margin-bottom: 0px;
  line-height: var(--h3-font-size);
}

#approval-button {
  background-color: white;
  color: black;
  padding: 0px 16px;
  background: #ffffff;
  border-radius: 4px;
  height: 48px;
  padding: 8px 48px;
}

#approval h1 {
  margin: 0;
}

/* End approval section */

#market-section {
  padding-top: 0;
}

.active {
  background: #12b92d !important;
  color: white;
}

#selector-div button {
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
}
#selector-div button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#selector-div {
  text-align: center;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: fit-content;
  background: rgba(25, 39, 69, 0.4);
  border: 1px solid #0df732;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 32px;
}

#selector-div button {
  font-size: var(--h3-font-size);
  color: white;
  background-color: transparent;
  font-weight: 400;
  padding: 16px 48px;
}
#selector-div button:first-of-type {
  margin-right: var(--nav-margin);
}
#live-collections,
#past-collections {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: stretch;
  margin: auto;
  width: 100%;
}

#live-collections button {
  background: rgba(20, 244, 46, 0.75);
  /* icon glow */
  box-shadow: 0px 0px 4px #14f42e;
  border-radius: 4px;
  color: white;
  width: 100%;
  font-size: var(--h3-font-size);
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
#live-collections button:hover {
  background-color: white;
  color: black;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
#past-collections button {
  width: 100%;
  color: white;
  font-size: var(--h3-font-size);
  font-weight: 400;
}

.example {
  position: relative;
}

.cover {
  position: absolute;
  border-width: 0.5vw;
  border-radius: 13px;
  top: 50%;
  left: 50%;
  width: 101%;
  height: 101%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.856);
}

.cover button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: white;
}

.partner-collection {
  border-radius: 4px;
  background: rgba(25, 39, 69, 0.4);
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding: 24px;
}

.partner-collection {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 16px;
  width: 256px;
}

.partner-collection button {
  margin-top: auto;
}

.collection-twitter {
  position: absolute;
  top: 1%;
  left: 2%;
  width: 15%;
}

.collection-discord {
  position: absolute;
  top: 1%;
  right: 2%;
  width: 15%;
}

.collection-img {
  border-radius: 4px;
  width: 100%;
  max-width: 240px;
}

.collection-description {
  color: white;
  font-size: var(--body-font-size);
}

a {
  color: white;
}

.inside-text {
  padding-bottom: 16px;
}

.end-time,
.start-time {
  font-size: var(--h3-font-size);
  font-weight: 400;
  line-height: 1.3vw;
  color: white;
  padding-bottom: 8px;
}

#mint-prompt {
  background-color: black;
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 50vh;
  border: solid 3px #00fff2;
  border-radius: 0.2em;
  font-size: 2.7vw;
  animation: glow 1.6s linear infinite;
}

#max-button {
  width: initial;
  color: black;
  width: 50%;
  height: initial;
  font-size: 1vw;
}

#block-screen {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.88) !important;
}

#close {
  padding: 0.2vw;
}

#mint-button-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 15%;
}

#mint-input {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.mint-input-part {
  width: 50%;
}

.button {
  height: initial;
}

.mint-button {
  width: 45%;
  height: 95%;
  margin: 2.5%;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.3vw;
}

.mint-button .mes-icon {
  cursor: pointer;
}

#mint-prompt h3 {
  font-size: 2.5vw;
  line-height: 2.6vw;
}

#mint-prompt h4 {
  font-size: 2.2vw;
  line-height: 2.3vw;
}

.mes-icon {
  width: 1.7em;
}

.purchased {
  background-color: #0c0c0c !important;
  border: 1px solid white;
}

.purchased:hover {
  background-color: #0c0c0c !important;
  border: 1px solid white;
}

.cover button:hover {
  background-color: white !important;
  cursor: default;
}

.down-arrow {
  width: 3vw;
}

.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 1.3s infinite;
  animation-delay: 0s;
}

.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}

.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Scroll animation */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#scroll-indicator {
  -webkit-animation: bounce 1.3s infinite;
  animation: bounce 1.3s infinite;
  color: #333333;
  display: none !important;
}

#no-live-msg {
  width: 50%;
  margin: auto;
}

#no-live-msg button {
  width: 45%;
  margin: auto;
}

@media screen and (max-width: 767px) {
  #no-live-msg {
    width: 95%;
    margin: auto;
  }

  .down-arrow {
    width: 3vh;
  }

  .token-balance-float {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(100% - 64px);
    margin: auto;
    font-size: var(--h3-font-size);
    z-index: 10;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: initial;

    color: black;
    background: #ffffff;
    border: 1px solid #14f42e;
    box-sizing: border-box;
    /* icon glow */

    box-shadow: 0px 0px 4px #14f42e;
    border-radius: 4px;
  }

  /* Approval section*/
  #approval {
    flex-direction: column;
  }

  #approval button {
    width: 100%;
    margin-top: 16px;
  }
  /* End approval section*/
  #selector-div {
    width: calc(100% - 64px);
    align-items: stretch;
  }

  #selector-div button {
    padding: 8px;
    flex-grow: 1;
  }

  .partner-collection {
    border-width: 5px;
    margin-top: 40px;
    width: calc(100% - 64px);
  }

  .collection-img {
  }

  .collection-description {
    min-height: 20%;
    padding: 2%;
  }

  #mint-prompt {
    width: 100vw;
    height: 90vh;
    font-size: 2.7vh;
  }

  #max-button {
    font-size: 2.7vh;
    width: 15%;
  }

  #number-to-mint {
    font-size: 10vh;
    margin-top: 5vh;
  }

  .increment-button {
    font-size: 15vh;
  }

  #mint-plus {
    margin-left: 6vh;
  }

  #mint-minus {
    margin-right: 6vh;
  }

  .mint-input-part {
    width: 100%;
  }

  #close {
    padding: 1vh;
    font-size: 4vh;
  }

  #mint-prompt h3 {
    font-size: 4.5vh;
    line-height: 4.6vh;
    margin: initial;
  }

  #mint-prompt-header {
    margin-top: 3.5vh !important;
  }

  #mint-prompt h4 {
    font-size: 4.2vh;
    line-height: 4.3vh;
    margin: initial;
  }

  #number-to-mint-header {
    margin-bottom: 4vh !important;
  }

  .mes-icon {
    width: 1.7em;
  }

  #mint-input {
    height: 50%;
  }

  .mint-button {
    width: 90%;
    height: 75%;
    margin: 5%;
    font-size: 2.7vh;
  }

  .mint-prompt-button {
    font-size: 3vh;
  }
}

@media screen and (min-width: 1900px) {
  .collection-img {
    width: 100%;
  }
}
